<%- include('includes/header') %>

<body>
  <div class="card" style="width: 18rem">
    <img
      src="https://th-thumbnailer.cdn-si-edu.com/ydQRNGFtp8LVTTMwEQ5RIoprwUQ=/750x500/filters:focal(518x341:519x342)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/1a/3d/1a3d1353-7317-4f5f-8b89-23cd066a4535/jason_gulley_wildlife_photographer_of_the_year.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card’s content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</body>

<%- include('includes/footer') %>
