<%- include('includes/header') %>

<body>
  <div>SIGNUP PAGE</div>

  <form action="/admin/signup" method="POST" enctype="multipart/form-data">
    <label for="memberNick">Nickname:</label>
    <input type="text" name="memberNick" id="memberNick" required />

    <label for="memberPassword">Password:</label>
    <input type="password" name="memberPassword" id="memberPassword" required />

    <label for="memberImage">Image:</label>
    <input type="file" name="memberImage" id="memberImage" required />

    <button type="submit">Signup</button>
  </form>
</body>
<%- include('includes/footer') %>
